@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box; /* ทำให้ padding และ border ถูกนับรวมในขนาดที่กำหนด */
}
html, body {
  margin: 0; /* กำจัด margin ที่อาจจะทำให้หน้าจอเกิน */
  padding: 0; /* กำจัด padding */
  width: 100%; /* กำหนดความกว้างให้เต็มหน้าจอ */
  height: 100%; /* กำหนดความสูงให้เต็มหน้าจอ */
  overflow-x: hidden; /* ซ่อนการเลื่อนในแนวนอน */
  font-family: 'Roboto', sans-serif;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather', serif;
}
